<!doctype html>
<head>
    <title>Studying Flask</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="heading03">Studying Flask</h1>
    <img src="static/flask-logo.png">
    <div>
        <h2 class="heading03">Examples</h2>
        <ol>
            <li><a href="example1.html">Redis</a></li>
            <li><a href="example2.html">Template</a></li>
        </ol>
    </div>
    <div>
        <h2 class="heading03">Links</h2>
        <ul>
            <li><a href="https://www.python.ambitious-engineer.com/archives/1630">https://www.python.ambitious-engineer.com/archives/1630</a></li>
        </ul>
    </div>
</body>
</html>
