<!doctype html>
<head>
<title>Moirai2</title>
<style>
    html{font-family: sans-serif;text-align:center;background:black}
    body{padding:10px;margin:10px;}
    header{background:white}
    footer{background:lightgrey}
    section{padding:10px;margin:10px;}
    article {padding:10px;margin:10px;}
  </style>
</head>
<body>
<header>
<img width='600px' src="/static/images/moirai_icon.gif">
</header>
<section>
    <article>
        <a href="commands.html"><img src="/static/images/Commands.png"></a>
    </article>
    <article>
        <a href="workflows.html"><img src="/static/images/Workflows.png"></a>
    </article>
    <article>
        <a href="files.html"><img src="/static/images/Files.png"></a>
    </article>
    <article>
        <a href="database.html"><img src="/static/images/Database.png"></a>
    </article>
    <article>
        <a href="config.html"><img src="/static/images/Config.png">
    </article>
</section>
<footer>Written by Akira Hasegawa</footer>
</body>
</html>
