.heading03 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}
.heading03::before,
.heading03::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #e3bf00;
}
.heading03::before {
	margin-right: 20px;
}
.heading03::after {
	margin-left: 20px;
}
body { text-align:center }
div { text-align:left }